{# src/Tenrah/TNETBundle/Resources/views/index/index.html.twig #}

{% extends "TenrahTNETBundle::base.html.twig" %}

{% block title %}{{ parent() }} | Index{% endblock %}
{% block body %}
    <h1>< TENRAH|NET /></h1>
    <div class="row row-grew">
        <div class="div-grew">
            <a href="{{ path('tenrahnet_cloud') }}" class="link-unstlyed">
                <button class="btn btn-index btn-grew" id="btn-cloud">
                    <span class="glyphicon glyphicon-cloud btn-grew-icon"></span></br>cloud</button></a>
        </div>
        <div class="div-grew">
            <a href="{{ path('tenrahnet_play') }}" class="link-unstlyed">
                <button class="btn btn-index btn-grew" id="btn-irc">
                    <span class="glyphicon glyphicon-play btn-grew-icon"></span></br>Play</button></a>
        </div>
        <div class="div-grew">
            <a href="{{ path('tenrahnet_draw') }}" class="link-unstlyed">
                <button class="btn btn-index btn-grew" id="btn-draw">
                    <span class="glyphicon glyphicon-pencil btn-grew-icon"></span></br>draw</button></a>
        </div>
        <div class="div-grew">
            <a href="{{ path('tenrahnet_bookmarks') }}" class="link-unstlyed">
                <button class="btn btn-index btn-grew" id="btn-bookmark">
                    <span class="glyphicon glyphicon-star btn-grew-icon"></span></br>favoris</button></a>
        </div>
    </div>
{% endblock %}
