{# src/OC/PlatformBundle/Resources/views/core.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TenrahNET{% endblock %}</title>
    {% stylesheets output="css/compiled/main.css" filter="cssrewrite"
    'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
    '@TenrahTNETBundle/Resources/assets/css/main.css'
    '@TenrahTNETBundle/Resources/assets/css/fonts.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
</head>
<body>
<header>
    <div id="header-left">
        <a href="{{ path('tenrahnet_homepage') }}" class="header-item link-unstlyed">TENRAH|NET</a>
    </div>
    <div id="header-right">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_profile_show') }}" class="header-item link-unstlyed">USER</a>
            <a href="{{ path('fos_user_security_logout') }}" class="header-item link-unstlyed">DECONNEXION</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}" class="header-item link-unstlyed">Connexion</a>
        {% endif %}
    </div>
</header>
<div id="tn-body" class="container">
    {% block body %}{% endblock %}
</div>

{% javascripts output="js/compiled/core.js"
  'assets/vendor/jquery/dist/jquery.min.js'
  'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
  '@TenrahTNETBundle/Resources/assets/js/core.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
